.card-tags {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 80%;
  span {
    background: $blue;
    font-size: .7em;
    padding: 2px 4px;
    border-radius: 3px;
  }
  a {
    color: white;
  }
}
